@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Poppins:wght@600&display=swap');

.title-text {
  font-family: "Comic Neue", "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #0a2e57; 
  text-shadow: 2px 2px 0px #ffffff; 
  text-align: center;
  margin: 0 auto 40px auto;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 20px;
  border-radius: 20px;
}

body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  margin: 0;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 40px; 
}



.memory-icon {
  width: 250px;
  height: 250px;
  transform: translateY(-30px);
  transition: transform 0.2s, width 0.2s, height 0.2s;
}
.memory-icon:hover {
  transform: scale(1.1) translateY(-15px);
}

.quiz-icon {
  width: 220px;
  height: 220px;
  transition: transform 0.2s, width 0.2s, height 0.2s;
}
.quiz-icon:hover {
  transform: scale(1.1) translateY(-15px);
}

.jump-icon {
  width: 220px;
  height: 220px;
  transition: transform 0.2s, width 0.2s, height 0.2s;
}
.jump-icon:hover {
  transform: scale(1.1) translateY(-15px);
}


.cat {
  position: fixed;
  bottom: 0px;
  left: 20px;
  width: 120px;
  height: auto;
  z-index: 100;
  transition: transform 0.3s ease;
}



